/*
bg color: E2BBEC
inner bg: A877B5
font: https://fonts.google.com/specimen/Hubballi
*/
body {
  background-color: #e2bbec;
}

.App {
  text-align: left;
  margin: 3rem 5rem;
  background-color: red;
}