/*
bg color: E2BBEC
inner bg: A877B5
font: https://fonts.google.com/specimen/Hubballi
*/

//--------------global
//-----typograpy
@font-face {
    font-family: "Regular-font";
    src: url("../public/assets/fonts/Hubballi/Hubballi-Regular.ttf") format("truetype");
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

//-----lists
ul {
    list-style: none;
    padding: 0;
}

ol.ol-2 {
    list-style-type: lower-alpha;
}

ol.ol-3 {
    list-style-type: lower-roman;
}

//-----images
.img-char {
    width: 360px;
    height: 360px;
    object-fit: cover;
    display: block;
}

//-----main elements
body {
    background-color: #e2bbec;
    font-family: Regular-font;
}

.App {
    text-align: left;
    margin: 100px 80px;
    background-color: inherit;
    /*standin*/
}

.Title {
    background-color: inherit;
    /*standin*/
}

.Navbar {
    background-color: inherit;
    /*standin*/
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Content {
    background-color: #A877B5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

//-----footer
.Footer {
    background-color: #A877B5;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 200px 0;
}

.see-more-proj,
.support-me {
    /*standin*/
    text-align: center;
    padding: 10px 25px;
}

//--------------end of global



//--------------home page:

.Welcome-square {
    background-color: #e2bbec;
    width: 1100px;
    height: 172px;
    margin: 50px 330px;
    padding: 30px;
}

.sec-header {
    grid-area: "char-header";
    margin: 50px 330px 25px 330px;
}

.Char-square {
    background-color: inherit;
    width: 1100px;
    height: 1100px;
    margin: 25px 330px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.character-prev {
    background-color: #e2bbec;
    /*standin*/
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: black;
    opacity: 0;
}

.character-prev:hover .overlay,
.char_main-prev:hover .overlay {
    opacity: 0.7;
}

.overlay-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.Site-at-a-glance {
    background-color: #e2bbec;
    width: 1100px;
    margin: 25px 330px;
}

//--------------end of home page

//--------------characters page
.char_main {
    background-color: #e2bbec;
    margin: 50px 330px;
    padding: 30px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.char_main-prev {
    //background-color: #A877B5;
    padding: 10px;
    width: 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.char_main-prev-img {
    background-color: #A877B5;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

//--------------end of characters page

//--------------mythical page

//--------------end of mythical page

//--------------chapters page
.chapterlist_container {
    background-color: #e2bbec;
    width: 1100px;
    margin: 50px 330px;
    padding: 30px;
}

.chapter-header{
    margin-bottom:10px;
}

.chapter-info{
    background-color: #A877B5;
    width:900px;
    margin: 15px 25px;
    padding: 15px;
}

//--------------end of chapters page

//---------------responsivenes
@media only screen and (max-width: 1440px) {
    .Welcome-square {
        width: 900px;
        height: 170px;
        margin: 50px 150px;
        padding: 30px;
    }

    .sec-header {
        grid-area: "char-header";
        margin: 50px 150px 25px 150px;
    }

    .img-char {
        width: 300px;
        height: 300px;
        //object-fit: cover;
        //display: block;
    }

    .Char-square {
        background-color: inherit;
        width: 900px;
        height: 1100px;
        margin: 25px 150px;
        //display: grid;
        //grid-template-columns: auto auto auto;
    }

    .Site-at-a-glance {
        width: 900px;
        margin: 25px 150px;
    }

    //------chararacters page
    .char_main {
        margin: 50px 150px;
        padding: 30px;
        width: 900px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .char_main-prev {
        padding: 10px;
        width: 120px;
        height: 220px;
        margin: 3px;
    }

    .char_main-prev-img {
        width: 95px;
        height: 95px;
    }
}

@media only screen and (max-width: 1000px) {
    .Welcome-square {
        width: 570px;
        height: 170px;
        margin: 30px 100px;
        padding: 30px;
    }

    .sec-header {
        grid-area: "char-header";
        margin: 30px 100px 14px 100px;
    }

    .img-char {
        width: 190px;
        height: 190px;
        //object-fit: cover;
        //display: block;
    }

    .Char-square {
        background-color: inherit;
        width: 570px;
        height: 570px;
        margin: 14px 100px;
        //display: grid;
        //grid-template-columns: auto auto auto;
    }

    .Site-at-a-glance {
        width: 570px;
        margin: 14px 100px;
    }

    //------chararacters page
    .char_main {
        margin: 30px 100px;
        padding: 30px;
        width: 570px;
    }

    .char_main-prev-img {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 810px) {
    .Welcome-square {
        width: 450px;
        height: 250px;
        margin: 20px 70px;
        padding: 30px;
    }

    .sec-header {
        grid-area: "char-header";
        margin: 20px 70px 10px 70px;
        position: relative;
    }

    .Char-square {
        background-color: inherit;
        width: 450px;
        height: 570px;
        margin: 14px 70px;
        //display: grid;
        grid-template-columns: auto auto;
        position: relative;
    }

    /* .character-prev{
        margin:6px;
    } */

    #siteGlance {
        margin-top: 440px;
    }

    .Site-at-a-glance {
        width: 450px;
        margin: 14px 70px;
    }

    //------chararacters page
    .char_main {
        margin: 20px 70px;
        padding: 30px;
        width: 450px;
    }

    .char_main-prev {
        padding: 10px;
        width: 150px;
        height: 250px;
        margin: 3px;
    }

    .char_main-prev-img {
        width: 120px;
        height: 120px;
    }
}

@media only screen and (max-width: 428px) {

    ul,
    ol {
        margin: 0 -18px;
    }

    li {
        width: 85%;
    }

    .Navbar {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .Welcome-square {
        width: 200px;
        height: 430px;
        margin: 15px 25px;
        padding: 7px;
    }

    .sec-header {
        grid-area: "char-header";
        text-align: center;
        position: relative;
    }

    .Char-square {
        background-color: inherit;
        width: 200px;
        height: 570px;
        margin: 15px 25px;
        //display: grid;
        grid-template-columns: auto;
        position: relative;
    }

    #siteGlance {
        margin-top: 1220px;
    }

    .Site-at-a-glance {
        width: 200px;
        margin: 15px 25px;
    }

    .Footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 90px 0;
    }

    .see-more-proj,
    .support-me {
        /*standin*/
        text-align: center;
        padding: 10px 25px;
    }

    //------chararacters page
    .char_main {
        margin: 15px 25px;
        padding: 7px;
        width: 200px;
    }

    .char_main-prev {
        padding: 6px;
        width: 180px;
        height: 280px;
        margin: 3px;
    }

    .char_main-prev-img {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 375px) {
    .Welcome-square {
        width: 158px;
        height: 580px;
        margin: 12px 20px;
        padding: 7px;
    }

    .sec-header {
        margin: 10px;
    }

    .Char-square {
        width: 170px;
        height: 570px;
        margin: 12px 10px;
        //display: grid;
        grid-template-columns: auto;
        position: relative;
    }

    #siteGlance {
        margin-top: 1250px;
    }

    .Site-at-a-glance {
        width: 195px;
        margin: 10px;
    }

    //------chararacters page
    .char_main {
        margin: 12px 20px;
        padding: 7px;
        width: 158px;
    }

    .char_main-prev {
        padding: 2px;
        width: 158px;
        height: 288px;
        margin: 2px;
    }

    .char_main-prev-img {
        width: 152px;
        height: 152px;
    }
}